body {
    font-family: 'Ropa Sans', sans-serif;
    color: #333;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}


h1 {
    margin: 10px 0;
    font-size: 40px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
li {
    padding: 2% 1%;
    margin: 2% 1%;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid rgb(71, 35, 35);
  }
   
li:last-child {
    border: none;
  }

button {
    color: rgb(71, 35, 35);
    background: transparent; 
    border: 2px solid rgb(71, 35, 35);
    border-radius: 6px; 
    font-size: 1.5rem;
    margin-bottom: 1%;
}

button:hover {      
    background-color: rgb(71, 35, 35); 
    color: white; 
}


#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#canvas {
    width: 100%;
    max-width: 640px;
}

#output {
    margin-top: 20px;
    background: rgb(216, 166, 73);
    padding: 10px;
    padding-bottom: 0;

}

#output div {
    padding-bottom: 10px;
    word-wrap: break-word;
    margin-bottom: 1%;

}

#noQRFound {
    text-align: center;
}



#outputMessage {
    margin-top: 20px;
    text-align: center;
}

.list {
    background: rgb(216, 166, 73);
}

#titleList {
    padding: 3% 1%;
    font-family: Helvetica, Verdana, sans-serif;
    border-bottom: 1px dotted black;

}


